@media (prefers-color-scheme: dark)
{
  html {background-color: #333;}

  body
  {
    background-color: #333;
    color:#AAA;
  }

  a {color:#b57730;}

  :visited {color:#777;}

  p {color: #AAA;}

  strong {color:#aaa;}

  .navbar-menu {background-color: #333;}

  a.navbar-item:hover {background-color: #444;}

  h1, h2, .title, .subtitle {color: #aaa;}

  .post-data {color: #666;}

  table tr:nth-child(even)
  {
    background-color:#444;
    border:none;
  }
  
  table tr:nth-child(odd)
  {
    border:none;
  }
  
  table th{background:#2a2a2a;}
  table td, table th{border-color:transparent}

  code
  {
    color: #d17e1f;
    background-color: #444;
    border-radius: 5px;
    font-family: Menlo, monospace;
  }
  
  pre
  {
    page-break-inside: avoid;
    max-width: 100%;
    overflow: auto;
    display: block;
    word-wrap: break-word;
  }

   span.str {color: #ffa0a0;}
   span.kwd {color: #d17e1f;}
   span.com {color: #888;}
   span.typ {color: #98fb98;}
   span.lit {color: #cd5c5c;}
   span.pun {color: #ddd;}
   span.pln {color: #ddd;}
   span.tag {color: #f0e68c; font-weight: bold;}
   span.atn {color: #bdb76b; font-weight: bold;}
   span.atv {color: #ffa0a0;}
   span.dec {color: #98fb98;}

   blockquote {border-left: .25rem solid #444;}
}
